HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!/src/main/
!/src/test/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
'.idea'
'*.mvn'
app-botsale-server/.mvn
app-botsale-server/mvnw
app-botsale-server/mvnw.cmd
app-botsale-server/target
app-botsale-server/web
app-botsale-server/app-botsale-server.iml
app-botsale-client/app-botsale-client.iml
node_modules/**.idea
